<MobileMenuWrapper @embed={{true}} as |mmw|>
  <mmw.MobileMenu @type="left" as |mm|>
    <div class="sideMenu-container">
      <div class="sideMenu-topSection">
        <div class="sideMenu-material-icons-close">
          <mmw.Toggle>
            close
          </mmw.Toggle>
        </div>
      </div>
    </div>
  </mmw.MobileMenu>
  <mmw.Content>
    <mmw.Toggle>
      Menu
    </mmw.Toggle>
    <div class="OutletContainer">
      {{outlet}}
    </div>
  </mmw.Content>
</MobileMenuWrapper>